<!DOCTYPE html>
<html>
 <head>
  <meta charset="UTF-8">
  <title>Finstagram</title>
   <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
   <link rel="stylesheet" href="css/style.css">
    </head>
  <body>
    <div class="container">
      <center><h1><img src="css/img/finstagramlogo" height="25%" width="25%">
 </h1>
        <% if session[:user_id] %>
        Welcome <%= @logged_in_user.username %>! | <a href="/logout">Logout</a>
      <% else %>
        <a href="/login">Login</a> or <a href="/users">sign up</a> to use Finstagram!
      <% end %>
<h2>
    </div>
<!--       <form action = "/new_post" method= "POST">
  <input type= "text" name= "username" placeholder= "Username">
  <input type= "text" name= "picture" placeholder= "Upload your picture">
<!--  <input type= "file" name= "picture" accept= "image/*" placeholder= "Upload your picture"> -->
  <input type= "text" name= "caption" placeholder= "Caption">
  <input type= "submit" value= "Post">
        </form></h2>
    <h3>Newsfeed</h3>
   <h4><ul>
    
     <% @posts.each do |post| %>
     <li>Username: <%= post.user.username %> - Picture:<div class = "container"> <img src= <%= post.picture %> </div> - Caption: <%= post.caption %></li> 
     <% end %>
     </ul></h4>
-->  
  </center>
 </body>
</html> 