<!DOCTYPE html>
<html>
 <head>
  <meta charset="UTF-8">
  <title>Sign Up For Finstagram</title>
   <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
   <link rel="stylesheet" href="css/style.css">
    </head>
  <body>
      <center><h1>Make a Finstagram Account</h1>
      <form action = "/signup" method= "POST">
  <input type= "text" name= "new_username" placeholder= "Username">
  <input type= "text" name= "new_email" placeholder= "Email">
<!--  <input type= "file" name= "picture" accept= "image/*" placeholder= "Upload your picture"> -->
  <input type= "submit" value= "Submit">
</form><br><br><br><br>        
        <h2>Already Have an Account? Login Here:</h2>
      <h3><form action = "/signup" method= "POST">
  <input type= "text" name= "username" placeholder= "Username">
  <input type= "text" name= "email" placeholder= "Email">
<!--  <input type= "file" name= "picture" accept= "image/*" placeholder= "Upload your picture"> -->
  <input type= "submit" value= "Login">
        </form></h3></center>
