<h3>Users</h3>
<% @users.each do |user| %>
  <p><img src="<%= user.profile_pic %>"></p>
  <p><strong>Name:</strong> <%=user.username%></p>
  <p><strong>Email:</strong> <%= user.email %></p>
<% end %>

<h3>Add a User</h3>
<form action="/users" method="POST">
  Username: <input class="form-control" type="text" name="username">
  Email: <input class="form-control" type="text" name="email">
  Profile Pic (url):
  <input class="form-control" type="text" name="profile_pic">
  <input type="submit" class="btn btn-default">
</form>
